<ul id='links'>
  <% @links.each do |link| %>
  <li>
    <a href="<%= link.url %>"><%= link.title %></a> Tags: <% link.tags.each do |tag| %>
                                                          <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
                                                          <% end %>
</li>
<% end %>
</ul>
<form action='/links/new'>
<button type="submit" value='Add new link'>Add new link</button>
